<div class="search-page-container">
  <div class="search-page-content">
    <div class="title">Discover Books</div>
    <app-search-book
      (submittedSearchTerm)="searchBook($event)"
    ></app-search-book>
    <div *ngIf="searchTerm$ | async" class="results">
      Search results for: {{ searchTerm$ | async }}
    </div>
    <app-book-listing
      *ngIf="searchTerm$ | async"
      [books]="books$ | ngrxPush"
    ></app-book-listing>

    <div class="sub-title">Latest suggestions</div>
    <app-book-listing [books]="newReleases$ | ngrxPush"></app-book-listing>
  </div>
</div>
