.title {
  margin: 40px;
  font-size: 62px;
  font-family: Montserrat, "Roboto", "Noto", sans-serif;
  text-align: center;
}

.results {
  padding-left: 6px;
  font-size: 18px;
  font-family: Montserrat, "Roboto", "Noto", sans-serif;
}

.sub-title {
  font-family: Montserrat, "Roboto", "Noto", sans-serif;
  text-align: center;
  margin-top: 40px;
  font-size: 24px;
}

.search-page-container {
  display: flex;
  justify-content: center;
}
